
		.opening-sign-schedule {
			width: 100%;
			display: grid;
			grid-template-columns:
				[days-label] max-content
				[hours] 1fr;
			grid-template-rows:
				[hours-label] max-content
				[hours] 1fr;

				--border-radius: 0.5em;
				--days-horizontal-padding: 1em;
				--hours-vertical-padding: 2em;
			font-family: "Impact";
		}
		.opening-sign-schedule p {
			margin: 0;
		}
		.opening-sign-schedule p + p {
			margin-top: calc(var(--days-horizontal-padding) / 2);
		}

		.opening-sign-schedule .hours-data {
			grid-column: hours;
			grid-row: hours;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			/*! background-color: blue; */
			border-radius: var(--border-radius);
			padding: var(--days-horizontal-padding) var(--hours-vertical-padding);
		}
		.opening-sign-schedule .hours-data > * {
			position: relative;
			display: flex;
			justify-content: space-between;

			height: 1em;
			/*! transform: skewX(-20deg); */
		}
		.opening-sign-schedule .hours-data .day-segments .bar {
			position: absolute;
			height: 100%;
			top: 50%;
			transform: translateY(-50%);

			background-color: white;
			border-radius: 1em;
			z-index: 1;
			border: solid black 2px;
			box-sizing: border-box;
		}
		.opening-sign-schedule .hours-data .day-segments .segment {
			height: 100%;
			width: 1px;

			background-color: black;
			border-radius: 5px;
			transform: translateX(0);
		}
		.opening-sign-schedule .hours-data .day-segments .bar > .hour {
			position: absolute;
			margin: 0 0.5em;
			top: 50%;
			transform: translateY(-50%);
			padding: 0 3px;

			opacity: 1;
			transition: all 0.5s;

			border-radius: 50px;
			font-size: 90%;
			background-color: aliceblue;
			padding: 0 3px;
			display: none;
		}
		.opening-sign-schedule .hours-data .day-segments .bar .opening {
			right: 100%;
		}
		.opening-sign-schedule .hours-data .day-segments .bar .closing {
			left: 100%;
		}

		.opening-sign-schedule .hours-background {
			grid-column: hours;
			grid-row: hours-label / end;

			/*! background: grey; */
			border-radius: var(--border-radius);
			/*! border: solid 5px black; */
		}

		.opening-sign-schedule .hours-label {
			grid-column: hours;
			grid-row: hours-label;

			padding: 1em 0;
		}
		.opening-sign-schedule .days-background {
			grid-column: days-label / end;
			grid-row: hours;

			border-radius: var(--border-radius);
			background-color: white;
			border: solid 2px black;
		}
		.opening-sign-schedule .days-label {
			grid-column: days-label;
			grid-row: hours;

			padding: var(--days-horizontal-padding) 1em;
		}

		.opening-sign-schedule .hours-segments {
			position: relative;
			grid-column: hours;
			grid-row: hours-label / end;
			overflow: hidden;
			
			height: 100%;
			display: flex;
			justify-content: space-between;
			border-radius: var(--border-radius);
			padding: 0 var(--hours-vertical-padding);
		}
		.opening-sign-schedule .hours-segments > *:not(:nth-child(3n+1)),
		.opening-sign-schedule .hours-data .day-segments .segment:nth-child(3n+1) {
			opacity: 0;
		}

		.opening-sign-schedule .hours-segments .segment {
			height: 100%;
			position: relative;
		}
		.opening-sign-schedule .hours-segments .segment::before {
			content: "";
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			margin-top: 3.5em;
			height: calc(100% - 5px); /* Desired size - top margin - bottom "margin" */
			border: solid 1px;
			box-sizing: border-box;
		}

		.opening-sign-schedule .hours-segments .segment .hour {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				background-color: white;
				margin-top: 2.5em;
				border-radius: var(--border-radius);
				padding: 2px;
		}
	