.RuleForm {
	font-size: 1.75rem;
	padding: 1em;
}

.RuleForm > *:not(:last-child) {
	margin-bottom: 1em;
}

.RuleForm .WeekDaysCheckboxes {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.RuleForm .Shift {
	display: flex;
	justify-content: space-between;
}
.RuleForm input[type="time"] {
	font-family: monospace;
	font-weight: bold;
	padding: 0.5em;
	padding-right: 0;
}
