@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

h1 {
  font-family: 'Berkshire Swash', sans-serif;
  margin: 0;
  -webkit-text-fill-color: hsla(0, 0%, 100%, 0.2);
  -webkit-text-stroke-color: hsla(0, 0%, 100%, 0.3);
  -webkit-text-stroke-width: 5px; /* normally it's 2px */
  font-size: min(25vh, 25vw);

  /* top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%); */
  margin-bottom: 1em;
  transition: all 1s;
}
h1 .fas {
  transition: all 1s;
  transform: rotate(180deg);
}

h1.smaller {
  font-size: min(300%, 15vw);
  -webkit-text-stroke-width: 2px;
  margin-bottom: -1em;
}
h1.smaller .fas {
  transform: rotate(0deg);
}
