@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
  font-family: 'Bubblegum Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  background:
    radial-gradient(circle at 90% 10%, hsl(243, 60%, 60%), transparent 50%),
    radial-gradient(circle at bottom left, hsl(338, 100%, 60%), transparent 70%),
    linear-gradient(hsl(243, 57%, 25%), hsl(243, 57%, 10%));
  font-size: 200%;
  text-align: center;
  margin: 0;
  min-height: 100vh;
}

#root > * {
  filter: drop-shadow(0 15px 10px hsl(0, 100%, 10%));
}


main.glass {
  max-width: 1000px;
  min-height: 500px;
  margin: 0.5em auto;
  border-radius: 40px;
  padding: 1em;
}

.glass {
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  backdrop-filter: blur(20px);
  background-color: hsla(306, 100%, 50%, 0.1);
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 0.5em;
  transition: all .1s;
}
button.glass:hover {
  background-color: hsla(306, 88%, 30%, 0.05);
}
button.glass:active {
  background-color: hsla(306, 100%, 50%, 0.1);
}
input {
  padding: 1rem;
}

.two-cols {
  display: flex;
  justify-content: space-between;
}
.two-cols > * {
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label > * {
  vertical-align: middle;
}
